.container-in-calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 99.5%;
  /*border:solid;*/
}
.right-container{
  width:25%;
  height:100%;
  /*border:solid;*/
}
.right_container::after {
  content: "";
  clear: both;
  display: table;
}
.analysis {
  width: 100%;
  height:50%;
  /*position:block;*/
/*  border:solid;*/
/*  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;*/
  /*height:50%;*/
}

.main-content {
  width: 75%;
  overflow-y: auto;
  border: 1px solid #999999;
   /*scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}
.main-content::-webkit-scrollbar {
    display: none;
}

.right-content {
  width: 100%;
  height: 50%;
/*  display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  /*border:solid;*/
}

.eventForm {
  position: fixed;
  width: 500px;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  border: solid #e6e6e6;
  border-width:0.5px;
  border-radius: 4px;
  background-color: white;
}

.float-button{
  position:fixed;
  width:50px;
  height:50px;
  bottom:40px;
  right: calc( 25% + 40px);
  background-color:#d6001c;
  color:#FFFFFF;
  border-radius:50px;
  text-align:center;
  border:none;
  box-shadow: 2px 2px 3px #999;
}

.main-content button:hover{
    background-color:#b30018;
  }