.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 20px);
  margin-top: 20px;
}

.left-content {
  width: 15%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.main-content {
  width: 60%;
  overflow-y: scroll;
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}

.right-content {
  width: 25%;
  height: 100%
}

.addEvent {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.eventForm {
  position: fixed;
  width: 500px;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  background-color: aliceblue;
}