.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #d6001c;
  height: 80px;
  width: 100%;
  color:white;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-item2 {
  position: absolute;
  left: 0;
  font-size: 2rem;
  color:white;
  /*transform: translate(-50%, 0);*/
  /*flex:5;*/
}

.nav-item3 {
  /*position: relative;*/
  height: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  /*margin-left: 75%;*/
  /*flex:1;*/
}

.nav button{
  height:80px;
  color:white;
  background-color: #d6001c;
  border:none;
}

.nav button:hover {
  background-color: #b30018;
  color: white;
}