server {
  listen 80;
  server_name ${SERVER_NAME};
  access_log  /var/log/nginx/forum_access_log;

  location / {
    proxy_pass http://app:20001;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  location ~ ^(/|/index.html|/favicon.ico|/logo192.png)$ {
    root /usr/share/nginx/html;
    index index.html;
  }

  location ^~ /static/ {
    root /usr/share/nginx/html;
  }
}